<div id="container">
  <span class="title">Lista de ordenes</span>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <ng-container matColumnDef="ducument_type">
      <th mat-header-cell *matHeaderCellDef>Tipo documento</th>
      <td mat-cell *matCellDef="let element">{{ element.custumer_ducument_type }}</td>
    </ng-container>

    <ng-container matColumnDef="ducument">
      <th mat-header-cell *matHeaderCellDef>Documento</th>
      <td mat-cell *matCellDef="let element">{{ element.custumer_ducument }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let element">{{ element.custumer_name }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>E-mail</th>
      <td mat-cell *matCellDef="let element">{{ element.custumer_email }}</td>
    </ng-container>

    <ng-container matColumnDef="mobile">
      <th mat-header-cell *matHeaderCellDef>Telefono</th>
      <td mat-cell *matCellDef="let element">{{ element.custumer_mobile }}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Estado</th>
      <td mat-cell *matCellDef="let element"> <b [ngStyle]="{'color':getColor(element.status)}">{{ element.status }}</b></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
